@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Projects Tracker</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Projects Tracker</h2>
        <a class="btn-primary" asp-area="" asp-controller="Projects" asp-action="Index">Projects</a>
        <a class="btn-primary" asp-area="" asp-controller="ProjectTasks" asp-action="Index">Tasks</a>
        <a class="btn-primary" asp-area="" asp-controller="Swagger" asp-action="Index">Web API</a>
    </div>
</div>