@model TaskProjectTracker.Models.ProjectTask

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProjectTask</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="taskId" />
            <div class="form-group">
                <label asp-for="projectId" class="control-label"></label>
                <select asp-for="projectId" class="form-control" asp-items="ViewBag.projectId"></select>
                <span asp-validation-for="projectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="taskName" class="control-label"></label>
                <input asp-for="taskName" class="form-control" />
                <span asp-validation-for="taskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="projectTaskStatus" class="control-label"></label>
                <input asp-for="projectTaskStatus" class="form-control" />
                <span asp-validation-for="projectTaskStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="taskDescription" class="control-label"></label>
                <input asp-for="taskDescription" class="form-control" />
                <span asp-validation-for="taskDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="taskPriority" class="control-label"></label>
                <input asp-for="taskPriority" class="form-control" />
                <span asp-validation-for="taskPriority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
